h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: black;
  margin: 0;
}

.solar-section {
  max-width: 1980px;
  padding: 0;
  margin: 0 auto;
  background-image: url(/Images/solar_sys.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}


.solar-title {
  font-weight: 100;
  font-size: 76px;
  text-align: center;
}